<!DOCTYPE html>
<html>
<head>
  <title>Tracker</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header class="container">
    <nav class="navbar navbar-default">
      <div class="navbar-header">
        <%= link_to 'SUBDOMAINS', root_url(subdomain: false), class: 'navbar-brand' %>
      </div>
    </nav>
  </header>

  <div class="container">

    <div class="row">
      <%= yield %>
    </div>
  </div>

</body>
</html>